


.moto-list {
    margin: 0.781vw;
    width: 95%;
    height: 100%;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.700vw;

    overflow: auto;
} .moto-list::-webkit-scrollbar { display: block; }



.moto {
    user-select: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: grey;
    width: 23.9%;
    height: 30%;
    border-radius: 10px;
    box-sizing: border-box;
}
.moto img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}









